body{
    background-color: rgb(208, 255, 195);
		background-image: url(background.jpg); 
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 0px;
    font-size: 40px;

}

#root{
	display:flex;
}

.list{
    
    background-color: white;
    border-radius: 8px;
    max-width: 35%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-family: Roboto, Arial;
    box-shadow: 1px 1px 15px rgba(156, 39, 176, 0.7);

}
.listContent form{
    display: flex;
    align-items:stretch; 
    justify-content:center;
		padding-left:80px;
		margin-bottom:20px;
		border-bottom:2px dotted rgba(156, 39, 176, 0.3);
}


#doList{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 13px;
    margin: 0px;
}
#doList li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-weight: bold;

		border: 1px solid rgba(0, 0, 0, 0.2);
}
#doList li:hover{
    background-color: rgba(128, 128, 128, 0.5);

}

